*{
    text-decoration: none;
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size:14px;
}


body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
}


.instagram-wrapper{
 display: flex;
 align-items: center;
 justify-content:start;
 width: 60%;
 height: 100vh;

}
.instagram-phone{
    display: flex;
    align-items: center;
    height:50vh;
}
.instagram-phone img{
    height: 50rem;
}

.instagram-continue{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}


.group{
       display: flex; 
       justify-content:space-between;
       align-items: center;
       flex-direction: column;
       background-color:#ffff;
       width: 100%;
       padding: 1,3rem 0;
       border: 1px solid lightgray;
}

.fotoperfil{
    display: flex;
    width: 50%;
    align-items: center;
    border-radius:50%;
    margin-left: 12%;
    
}


.group:nth-child(1) {
    min-height:12rem;
    max-width: 75%;
     }

.logo{
    margin-top: 30px;
    height: 3rem;
}

.login{
    background-color:#0095f6;
    color: #ffff;
    padding:8px;
    border-radius: 4px;
    margin-top: 2rem;
}

.logout{
    color: #0095f6;
    margin-top:2rem;
    margin-bottom: 1rem;
}

.not-account{
    color: rgb(160,160,160);

}

.link-blue{

    color:#0095f6;
}


.instaleapp{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100%;
    padding: 1.3rem 0;
}


.download{
    display:flex;
    justify-content:space-evenly;
    width: 100%;
    align-items: center;
    padding: 1rem;
}


.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}



.app-download:nth-child(1){
    background-image: url("img/appstore.png");
}

.app-download:nth-child(2){
    background-image: url("img/playstore.png");
}



/*media queries*/


@media (max-width:1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width:650px)
{
    .instagram-wrapper{
        width:90%;

    }
    .instagram-phone{
        display:none;
    }
    .instagram-continue{
        width:100%;
    }
    }
